*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden{
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.content{
  display: flex;
  align-items: end;
  gap: 30px;
  margin: 0 auto;
  padding: 133px 0;
  max-width: 1140px;
  height: 100%;

  .content__details{
    max-block-size: 534px;
    overflow-y: auto;
    overflow-x: hidden;
    inline-size: 100%;
    block-size: 100%;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
  }

  .content__list{
    position: relative;
  }

  .content__list-item, .content__list:last-child{
    padding: 2px;
  }

  .content__list-item:not(:last-child){
    margin-block-start: 30px;
  }

  .content__video-card{
    display: grid;
    grid-template-columns: 1fr 0.5fr;
  }

  .content__video-card-title{
    font-family: Oswald, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
    margin-block-end: 6px;
    display: inline-block;
  }

  .content__video-card-description{
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.2px;
  }

  .content__card-link{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    &:hover{
      .content__video-card-title{
        border-block-end: 2px solid #fff;
        margin-block-end: 4px;
      }
      .content__video-card-description{
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
    &:focus-visible{
      outline: 1px solid #fff;
    }
  }
  .content__card-link_current{
    .content__video-card-description-container{
      background: #545050;
    }
  }

  .content__video-card-thumbnail{
    inline-size: 192px;
    block-size: 103px;
    background-size: cover;
    background-position: center;
  }

  .content__video-card-description-container{
    height: 100%;
    width: 100%;
  }

  .content__accent{
    color: #545050;
  }
}

.result{
  .result__video-container{
    margin-block-end: 15px;
    inline-size: 711px;
    block-size: 386px;
    position: relative;
  }
  .result__video{
    object-fit: cover;
    object-position: center;
    inline-size: 100%;
    block-size: 100%;
  }
}

.search-form{
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 40px;

  .search-form__fieldset{
    border: none;
  }

  .search-form__fieldset-title{
    margin-block-end: 5px;
  }

  .search-form__fieldset-title, .search-form__textfield::placeholder, .search-form__label, .search-form__textfield {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'Fira Sans Condensed', sans-serif;
  }

  .search-form__label{
    &:has(:active){
      outline: 1px solid #fff;
    }
    &:has(:focus-visible){
      outline: 1px solid #fff;
      outline-offset: 2px;
    }
  }

  .search-form__textfield{
    background-color: transparent;
    border: none;
    border-block-start: 1px solid #fff;
    border-block-end: 1px solid #fff;
    padding: 5px 0;
    min-inline-size: 225px;
    appearance: none;
    color: currentColor;
    &::placeholder{
      color: rgba(255, 255, 255, 0.70);
    }
    &:focus, &:focus-visible{
      outline: none;
    }
  }
  .search-form__checkbox-list{
    display: flex;
    gap: 15px;
  }
  .search-form__label{
    display: flex;
    gap: 5px;
    cursor: pointer;
  }
  .search-form__checkbox:checked + .search-form__pseudo-checkbox::before,
  .search-form__label:active .search-form__pseudo-checkbox::before{
    display: block;
  }
  .search-form__label:has(:focus-visible){
    outline: 1px solid #fff;
  }

  .search-form__checkbox:focus-visible{
    outline: none;
  }

  .search-form__label:hover .search-form__label-text{
      text-decoration: underline;
      text-decoration-skip-ink: none;
  }
  .search-form__pseudo-checkbox{
    border: 1px solid #fff;
    display: inline-block;
    inline-size: 19px;
    block-size: 19px;
    background-color: transparent;
    position: relative;
    &:before{
      content: '';
      position: absolute;
      width: calc(100% - 2px);
      height: calc(100% - 2px);
      background-color: #fff;
      inset: 1px 1px;
      display: none;
    }
  }
}

.title{
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  margin-block-end: 26px;
}

.button {
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  background-color: transparent;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  max-block-size: 34px;
  padding: 5px;
  width: 100%;
  cursor: pointer;
  &:active{
    background: #545050;
  }
  &:hover{
    text-decoration: underline;
  }
  &:focus{
    outline: none;
  }
  &:focus-visible{
    outline: 1px solid #fff;
    outline-offset: 1px;
  }
}

.more-button{
  margin-block-start: 30px;
}